<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking Account</title>
</head>
<body>
    <header>
        <div>
            <h1>EzBank</h1>
        </div>
        <nav>
            <a href="#">About Us</a>
            <a href="#">Help</a>
            <a id="logout" href="/logout">Logout</a>
        </nav>
    </header>

    <main>
        <h1>{{name}}</h1>
        {{#each Checkings}}
        <button class="card-button" data-id="{{id}}">
            <div class="card">
                <h2>{{name}}</h2>
                <p>Balance: ${{balance}}</p>
                <p>Date Created: {{date_created}}</p>
            </div>
        </button>
        {{/each}}
        <script src="./js/checking.js"></script>
    </main>

    <footer>
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </footer>
    
    <script src="./js/logout.js"></script>

</body>
</html>